@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/iranyekan/eot/iranyekanwebboldfanum.eot');
    src: url('../fonts/iranyekan/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/iranyekan/woff/iranyekanwebboldfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iranyekan/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: #000000;
    color:#fff

}
.menu{
    background-color: #000000;
font-size: 15px;
color: #e8e8e8;
font-weight: bold;
text-align: right;
margin-top: auto;
display: inline;
font-family: iranyekan;
}
.logo{
    width: 50px;
    height: 50px;
    display: inline;
}
.menu ul{
    margin: 0px;
}
.menu ul li{
    display: inline-block;
    margin-right: 10px;
}
.menu ul li:hover{
    background-color: #585858;
    color: #ffffff;
}
.sub_menu{
    background-color: #000000;
    color: #e8e8e8;
    display:none;
    position: absolute;
    margin-left: -200px !important;
}
.sub_menu li{
    width: 100px;
    margin: 0px !important;    
}
.dropdown_menu:hover ul{
display: block;
}
.dropdown_menu a{
    text-decoration: none;
}
a{
    color: inherit;
}
.elan{
    border-collapse:separate;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 15px;
}
.elan td {
    text-align: center;
}
.elan img {
    max-width: 100%;
    height:250px;
    margin-top: 10px;
    border-radius: 10px;
    border: 3px solid #fcff9c;
    box-shadow: #00ffb7;
}
.satr3{
    margin-left: 150px;
}
.cars3{
    margin-left: 150px;
}
.DaftarYaddasht{
    margin-left: 200px;
}
.mankan{
    margin-left: 210px;
}
.posts{
    position: relative;
    top: -417px;
    padding-top: 417px;
    margin-top: 50px;
    padding-right: 10px;
    width: 100%;
    margin: 0px;
}
.posts .title{
    text-align: right;
    margin-right: 10px;
    font-size: 35px;
}
.posts .wraper{
    display: flex;
    justify-content: right;
    margin-right: 10px;
    padding-left: 40px;
}
.posts .card{
    width: 150px;
    height: 400px;
    box-shadow: 0px 4px 30px #f7ffa5;
    border-radius: 10px;
    background-color: #3300ff;
    text-decoration:solid;
    text-align: center;
    font-family: iranyekan;
}
.card .thumbnail{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.card .overlay{
    background: linear-gradient(180deg,rgba(255,255,255,0)0%,rgba(0,0,0,0.5)52.6%,#000000 100%);
}
.card:hover{
    background-color: #200787;
}
.card-body{
    padding: 22px 10px;
}
.posts1{
    position: relative;
    margin-top: 0px;
    padding-right: 10px;
    width: 100%;
    top:-400px;
    text-align: right;
}
.posts1 .title{
    text-align: right;
    margin-right: 10px;
    font-size: 35px;
}
.posts1 .wraper{
    display: inline-block;
    justify-content: right;
    margin-right: 10px;
    padding-left: 40px;
}
.posts1 .card1{
    width: 150px;
    height: 400px;
    box-shadow: 0px 4px 30px #d5d4d1;
    border-radius: 10px;
    background-color: #ff0000;
    text-decoration:solid;
    text-align: center;
    font-family: iranyekan;
}
.card1 .thumbnail{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.card1 .overlay{
    background: linear-gradient(180deg,rgba(255,255,255,0)0%,rgba(0,0,0,0.5)52.6%,#000000 100%);
}
.card1:hover{
    background-color: #d01010;
}
.card1-body{
    padding: 22px 10px;
}

.posts1 .card3{
    width: 150px;
    height: 400px;
    box-shadow: 0px 4px 30px #d5d4d1;
    border-radius: 10px;
    background-color: #42e003;
    text-decoration:solid;
    text-align: center;
    font-family: iranyekan;
}
.card3 .thumbnail{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.card3 .overlay{
    background: linear-gradient(180deg,rgba(255,255,255,0)0%,rgba(0,0,0,0.5)52.6%,#000000 100%);
}
.card3:hover{
    background-color: #4ca800;
}
.card3-body{
    padding: 22px 10px;
}
#irani{
    text-decoration: none;
}
#koodak{
    text-decoration: none;
}
.h1{
font-size: 70px;
}
footer{
    width: 100%;
    height: 300px;
    border-top: 2px solid #fff;
    margin-top: -350px;
}
.address{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    margin-right: 10px;
    border: 2px solid #d0d0d0;
    width: 450px;
    margin-left: 690px;
    border-radius: 10px;
    padding-right: 10px;
    margin-top: 15px;
}
.teleghpone{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    margin-right: 10px;
    border: 2px solid #d0d0d0;
    width: 500px;
    margin-left: 640px;
    border-radius: 10px;
    padding-right: 10px;
    margin-top: 15px;
}
.tel{
    margin-left: 500px;
    margin-bottom: -40px;
    margin-right: 10px;
}
.tel1{
    display: inline-block;
    margin-bottom: -40px;
    margin-right: 10px;
}