@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/iranyekan/eot/iranyekanwebboldfanum.eot');
    src: url('../fonts/iranyekan/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/iranyekan/woff/iranyekanwebboldfanum.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/iranyekan/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

* {
    box-sizing: border-box;

    @keyframes move_right {
        from {
            left: 1005px;
        }

        to {
            left: 1135px;
        }
    }
}

body {
    margin: 0px;
    background-color: #101014;
    color: #fff;
    overflow-x: hidden;
}

.menu {
    background-color: #101014;
    font-size: 15px;
    padding-top: -30px;
    color: #afafaf;
    text-align: right;
    display: inline;
    font-family: iranyekan;
}

.menu a {
    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
    display: inline;
    margin-right: 10px;
    margin-top: 5px;
}

.menu ul li {
    display: inline-block;
    margin-right: 35px;
    text-align: center;
}

.menu ul {
    margin-top: -40px;
}

.menu ul li:hover {
    color: #ffffff;
    transition: ease-in 0.2s;
    text-align: center;
}

.sub_menu {
    background-color: #101014;
    color: #949494;
    display: none;
    position: absolute;
    margin-right: -50px !important;
    text-align: center;
}

.sub_menu li {
    width: 100px;
    padding-top: 10px;
    text-align: center;
}

.dropdown_menu:hover ul {
    display: block;
    text-align: center;
}

.dropdown_menu:hover li {
    display: block;
    
}

.dropdown_menu a {
    text-decoration: none;
}

a {
    color: inherit;
}

.elan {
    margin-top: 15px;
    background-color: #101014;
    width: 100%;
}
main{
    background-color: #1c1c22;
}
.elan td {
    text-align: center;
}

.elan img {
    max-width: 100%;
    height: 250px;
    border-radius: 10px;
}

.elan img:hover {
    overlay: 25%;
    transition: ease-in 0.3s;
    opacity: 80%;
}

.elan a {
    z-index: 10;
}

.satr3 {
    margin-left: 150px;
}

.cars3 {
    margin-left: 50px;
}

.DaftarYaddasht {
    margin-left: 50px;
}

.mankan {
    margin-left: 210px;
}

.posts {
    width: 1000px;
    height: 5000px;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: 350px;
    background-color: #1c1c22;
}

.posts1 {
    position: relative;
    padding-right: 10px;
    width: 100%;
    height: 500px;
    text-align: right;
    background-color: #1c1c22 !important;
    padding-top: 10px;
    margin-bottom: 0px !important;
}

.posts1 .title {
    text-align: right;
    margin-right: 10px;
    font-size: 20px;
}

.posts1 .wraper {
    display: inline-block;
    justify-content: right;
    margin-right: 10px;
    padding-left: 40px;
}

.posts1 h3 {
    font-family: iranyekan;
    font-size: 15px;
}

.posts1 .card1 {
    width: 200px;
    height: 350px;
    border-radius: 10px;
    background-color: #ff0000;
    text-decoration: solid;
    text-align: center;
    font-family: iranyekan;
}

.card1 .thumbnail {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.card1 .overlay {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0)0%, rgba(0, 0, 0, 0.5)52.6%, #000000 100%);
}

.card1:hover {
    color: #00ff15;
    transition: ease-in 0.2s;
}

.card1-body {
    padding: 22px 10px;
}
.thumbnail:hover{
    transition: ease-in 0.3s;
    opacity: 80%;
}
.moshahedeh {
    width: 70px;
    height: 20px;
    color: #ffffff;
    background-color: transparent;
    margin-right: 90%;
    padding-top: 50px;
    font-family: iranyekan;
    transition: ease-in 0.2s;
}

.moshahedeh1 {
    width: 70px;
    height: 20px;
    color: #ffffff;
    background-color: transparent;
    margin-left: 50px;
    font-family: iranyekan;
    transition: ease-in 0.2s;
}

.moshahedeh:hover {
    color: #008cff;
}

.moshahedeh1:hover {
    color: #008cff;
}

.main-2 {
    display: inline-block;
    width: 100%;
    height: 5200px;
    background-color: #1c1c22;
}

.main-sidebar {
    display: block;
    margin-top: -5020px;
    width: 310px;
    background-color: #1c1c22;
}

.title-1 {
    height: 30px;
    border-radius: 5px;
    color: #BBC1c6;
}

.t-2 {
    font-size: 15px;
    font-weight: 500;
    font-family: iranyekan;
    text-align: right;
    margin-top: 20px;
    color: #ffffff;
    margin-right: 35px;
}

.mh-1 {
    color: #BBC1c6;
    font-size: 11px;
    text-align: left;
    font-family: iranyekan;
    margin-top: -28px;
    margin-left: 5px;
}

.mh-1:hover {
    color: #7cc1fa;
    transition: ease-in 0.3s;
}

.beroz {
    width: 275px;
    height: 50px;
    background-color: #3b3b3b;
    color: #bdbdbd;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 5px;
    font-family: iranyekan;
    box-shadow: #22232c;
    margin-left: 1px;
}

.beroz h3 {
    padding-top: 15px;
    padding-left: 75px;
}

.img-1-1 {
    position: relative;
}

.img-1 {
    width: 275px;
    height: 100px;
    border-radius: 5px;
    position: relative;
}

.ti-1 {
    position: absolute;
    font-size: 20px;
    background-color: #000000a1;
    height: 25px;
    margin-top: -29px;
    width: 275px;
    text-align: center;
    font-weight: 500;
    box-sizing: border-box;
    padding-top: 2px;
    font-family: statik;
}

.img-2 {
    width: 275px;
    height: 100px;
    border-radius: 5px;
    margin-top: 10px;
}

.mic {
    width: 80px;
    height: 70px;
    margin-right: 20px;
}

.t-11 {
    font-size: 10px;
    font-weight: 300;
    font-family: iranyekan;
    text-align: center;
    margin-top: -55px;
    margin-left: -37px;
    color: #777777;
}

.t-1 {
    font-size: 15px;
    font-weight: 500;
    font-family: iranyekan;
    text-align: center;
    margin-top: -20px;
    margin-left: -50px;
    color: #ffffff;
}

.doble {
    width: 260px;
    height: 250px;
    background-color: #23232b !important;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    border-radius: 7px;
}

.doble-1 {
    width: 240px;
    height: 50px;
    background-color: #1e1e24;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    display: block;
    padding-top: 18px;
    font-family: iranyekan;
    color: #a7a7a7;
    box-sizing: border-box;
    margin-right: 10px;
}

.doble-1:hover {
    background-color: #313131;
    transition: ease-in 0.3s;
}

.p1 {
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
}

.p1 h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 550px;
    font-family: iranyekan;
}

.t1 {
    width: 300px;
    height: 450px;
    margin-left: 670px;
    border-radius: 10px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.introdoction {
    display: inline-block;
    color: #a2a2a2;
    margin-left: 500px;
}

.introdoction1 {
    display: inline-block;
    color: #a2a2a2;
    margin-left: 20px;
}

.bd {
    text-align: right;
    color: #d5d5d5;
    margin-right: 330px;
}

.dastan {
    width: 590px;
    height: 100px;
    background-color: #323232;
    margin-left: 65px;
    text-align: right;
    padding-top: 25px;
    box-sizing: border-box;
    padding-right: 10px;
    border-radius: 15px;
    font-family: url(./fonts/Cinema.Font.ttf);
    font-weight: bold;
}

.intro {
    margin-bottom: 25px;
    display: inline-block;
    padding-left: 220px;
    padding-right: 50px;
    font-family: iranyekan;
}

.download {
    width: 130px;
    height: 50px;
    color: #ffffff;
    background-color: #23232b;
    font-size: 15px;
    font-weight: bold;
    margin-right: 560px;
    border: 2px solid #0f9a00;
    margin-left: 25px;
    margin-top: -20px;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
    font-family: iranyekan;
    border-radius: 10px;
}

.download:hover {
    background-color: #0f9a00;
    transition: ease 0.3s;
}

.p11 {
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}

.p11 h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 470px;
    font-family: iranyekan;
}

.p2 {
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}

.p2 h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 600px;
    font-family: iranyekan;
}

.dastan1 {
    width: 590px;
    height: 100px;
    background-color: #323232;
    margin-left: 65px;
    text-align: right;
    padding-top: 20px;
    box-sizing: border-box;
    padding-right: 10px;
    border-radius: 15px;

    font-weight: bold;
}

.dastan1 {
    width: 590px;
    height: 100px;
    background-color: #323232;
    margin-left: 65px;
    text-align: right;
    padding-top: 20px;
    box-sizing: border-box;
    padding-right: 10px;
    border-radius: 15px;
    font-family: url(./fonts/Cinema.Font.ttf);
    font-weight: bold;
}

.p22 {
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}

.p22 h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 520px;
    font-family: iranyekan;
}

.p222 {
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}

.p222 h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 570px;
    font-family: iranyekan;
}

.p222 p {
    padding-top: 20px;
}

.p2222 {
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}

.p2222 h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 470px;
    font-family: iranyekan;
}

.p22222 {
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}

.p22222 h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 510px;
    font-family: iranyekan;
}

.p222222 {
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}

.p222222 h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 370px;
    font-family: iranyekan;
}

.p222222 {
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}

.p222222 h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 390px;
    font-family: iranyekan;
}

.p2222222 {
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}

.p2222222 h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 320px;
    font-family: iranyekan;
}

.p22222222 {
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}

.p22222222 h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 370px;
    font-family: iranyekan;
}

.dastan11 {
    width: 590px;
    height: 100px;
    background-color: #323232;
    margin-left: 65px;
    text-align: right;
    padding-top: 10px;
    box-sizing: border-box;
    padding-right: 10px;
    border-radius: 15px;
    font-family: url(./fonts/Cinema.Font.ttf);
    font-weight: bold;
}

.dastan111 {
    width: 590px;
    height: 100px;
    background-color: #323232;
    margin-left: 65px;
    text-align: right;
    padding-top: 30px;
    box-sizing: border-box;
    padding-right: 10px;
    border-radius: 15px;
    font-family: url(./fonts/Cinema.Font.ttf);
    font-weight: bold;
}

.dastan1111 {
    width: 590px;
    height: 100px;
    background-color: #323232;
    margin-left: 65px;
    text-align: right;
    padding-top: 7px;
    box-sizing: border-box;
    padding-right: 10px;
    border-radius: 15px;
    font-family: url(./fonts/Cinema.Font.ttf);
    font-weight: bold;
}

footer {
    width: 100%;
    height: 300px;
    background-color: #1c1c22;
}

.address {
    font-size: 15px;
    font-family: iranyekan;
    padding-top: 50px;
    text-align: center;
}

.teleghpone {
    font-size: 15px;
    font-family: iranyekan;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}

.tel {
    margin-left: 600px;
    margin-right: 10px;
    margin-top: 20px;
}

.tel1 {
    display: inline-block;
    margin-right: 10px;
}