@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/iranyekan/eot/iranyekanwebboldfanum.eot');
    src: url('../fonts/iranyekan/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/iranyekan/woff/iranyekanwebboldfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iranyekan/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}
*{
    box-sizing: border-box;
    @keyframes move_right {
        from{left: 1005px;}
        to{left: 1135px;}
    }
}
body{
    margin: 0px;
    background-color: #101014;
    color:#fff;
    overflow-x: hidden;
}
.menu{
    background-color: #000000;
font-size: 15px;
color: #e8e8e8;
font-weight: bold;
text-align: right;
margin-top: auto;
display: inline;
font-family: iranyekan;
}
main{
    padding-top: 60px;
}
.logo{
    width: 50px;
    height: 50px;
    display: inline;
}
.menu ul{
    margin: 0px;
}
.menu ul li{
    display: inline-block;
    margin-right: 10px;
}
.menu ul li:hover{
    background-color: #585858;
    color: #ffffff;
}
.sub_menu{
    background-color: #000000;
    color: #e8e8e8;
    display:none;
    position: absolute;
    margin-left: -200px !important;
}
.sub_menu li{
    width: 100px;
    margin: 0px !important;    
}
.dropdown_menu:hover ul{
display: block;
}
a{
    color: inherit;
}
.posts{
    width: 980px;
    height:5000px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 360px;
}
.p1{
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
}
.p1 h5{
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 550px;
    font-family: iranyekan;
}
.t1{
    width: 300px;
    height: 450px;
    margin-left: 670px;
    border-radius: 10px;
    margin-top: 20px;
}
a{
    text-decoration: none;
}
.introdoction{
    display: inline-block;
    color: #a2a2a2;
    margin-left: 500px;
}
.introdoction1{
    display: inline-block;
    color: #a2a2a2;
    margin-left: 20px;
}
.bd{
    text-align: right;
    color: #d5d5d5;
    margin-right: 330px;
}
.dastan{
    width: 590px;
    height: 100px;
    background-color: #323232;
    margin-left: 65px;
    text-align: right;
    padding-top: 25px;
    box-sizing: border-box;
    padding-right:10px;
    border-radius: 15px;
    font-family:url(./fonts/Cinema.Font.ttf);
    font-weight: bold;
}
.intro{
    margin-bottom: 25px;
    display: inline-block;
    padding-left: 220px;
    padding-right: 50px;
    font-family: iranyekan;
}
.download{
    width: 130px;
    height: 50px;
    color: #ffffff;
    background-color: #23232b;
    font-size: 15px;
    font-weight: bold;
    margin-right: 560px;
    border: 2px solid #0f9a00;
    margin-left: 25px;
    margin-top: -20px;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
    font-family: iranyekan;
}
.download:hover{
    background-color: #0f9a00;
}
.p11{
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}
.p11 h5{
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 470px;
    font-family: iranyekan;
}
.p2{
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}
.p2 h5{
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 600px;
    font-family: iranyekan;
}
.dastan1{
    width: 590px;
    height: 100px;
    background-color: #323232;
    margin-left: 65px;
    text-align: right;
    padding-top: 20px;
    box-sizing: border-box;
    padding-right:10px;
    border-radius: 15px;

    font-weight: bold;
}
.dastan1{
    width: 590px;
    height: 100px;
    background-color: #323232;
    margin-left: 65px;
    text-align: right;
    padding-top: 20px;
    box-sizing: border-box;
    padding-right:10px;
    border-radius: 15px;
    font-family:url(./fonts/Cinema.Font.ttf);
    font-weight: bold;
}
.p22{
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}
.p22 h5{
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 520px;
    font-family: iranyekan;
}
.p222{
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}
.p222 h5{
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 570px;
    font-family: iranyekan;
}
.p222 p{
    padding-top: 20px;
}
.p2222{
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}
.p2222 h5{
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 470px;
    font-family: iranyekan;
}
.p22222{
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}
.p22222 h5{
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 510px;
    font-family: iranyekan;
}
.p222222{
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}
.p222222 h5{
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 370px;
    font-family: iranyekan;
}
.p222222{
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}
.p222222 h5{
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 390px;
    font-family: iranyekan;
}
.p2222222{
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}
.p2222222 h5{
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 320px;
    font-family: iranyekan;
}
.p22222222{
    width: 980px;
    height: 500px;
    background-color: #23232b !important;
    margin-top: 20px;
}
.p22222222 h5{
    font-size: 20px;
    font-weight: bold;
    margin-top: -420px;
    margin-left: 370px;
    font-family: iranyekan;
}
.dastan11{
    width: 590px;
    height: 100px;
    background-color: #323232;
    margin-left: 65px;
    text-align: right;
    padding-top: 10px;
    box-sizing: border-box;
    padding-right:10px;
    border-radius: 15px;
    font-family:url(./fonts/Cinema.Font.ttf);
    font-weight: bold;
}
.dastan111{
    width: 590px;
    height: 100px;
    background-color: #323232;
    margin-left: 65px;
    text-align: right;
    padding-top: 30px;
    box-sizing: border-box;
    padding-right:10px;
    border-radius: 15px;
    font-family:url(./fonts/Cinema.Font.ttf);
    font-weight: bold;
}
.dastan1111{
    width: 590px;
    height: 100px;
    background-color: #323232;
    margin-left: 65px;
    text-align: right;
    padding-top:7px;
    box-sizing: border-box;
    padding-right:10px;
    border-radius: 15px;
    font-family:url(./fonts/Cinema.Font.ttf);
    font-weight: bold;
}
.zotopia1{
    border-radius: 10px;
    margin-bottom: -250%;
    width: 73%;
}

.zotopia1 .title{
    font-size: 15px;
    background-color: #000000a1;
    width: 100%;
    text-align: center;
}

.zotopia2{
    border-radius: 10px;
    margin-bottom: -100%;
    width: 73%;
}
.aside1{
    margin-top: 25%;
}
.zotopia2 .title{
    font-size: 15px;
    background-color: #000000a1;
    width: 100%;
    text-align: center;
    margin-bottom: -7%;
}
.zotopia3{
    border-radius: 10px;
    width: 100%;
}

.zotopia3 .title{
    font-size: 15px;
    background-color: #000000a1;
    width: 100%;
    text-align: center;
}

footer{
    width: 100%;
    height: 300px;
    margin-top: 50px;
}
.address{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    margin-right: 10px;
    border: 2px solid #d0d0d0;
    width: 450px;
    margin-left: 690px;
    border-radius: 10px;
    padding-right: 10px;
    margin-top: 15px;
}
.teleghpone{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    margin-right: 10px;
    border: 2px solid #d0d0d0;
    width: 500px;
    margin-left: 640px;
    border-radius: 10px;
    padding-right: 10px;
    margin-top: 15px;
}
.tel{
    margin-left: 500px;
    margin-bottom: -40px;
    margin-right: 10px;
}
.tel1{
    display: inline-block;
    margin-bottom: -40px;
    margin-right: 10px;
}